body {
  background-color: black;
  margin: 0;
 height: 100%;

}
.App {
  display: flex;
  flex-direction: column;
}
.Laptop {
 display: grid;
 grid-template-columns: 1fr 1fr;
 

}
.image {
  position: relative;
  margin: 0;
  width: 100%;
  height: 70%;
}
.added {
  position: absolute ;
  opacity: 0.6;
  width: 70%;
}
.added-1 {
  color: #c700fe;
  margin: 20px;
  padding: 10px; 
  font-size: 20px;
}

.Header {
  display: flex;
  justify-content: center;
  color: #ed440c;
  font-family: "Cairo Play", sans-serif; 
}
.Purpose {
  display: flex;
  flex-direction: column;
align-content: center;
  height: 70%;
  margin-left: 15px;
  margin-right: 15px;
}

input::-webkit-input-placeholder { 
  color:blue;
  text-align: center;
  font-size: 30px; 
 } 

.Input {
  background-color: rgb(44, 26, 39);
  border: solid  #c700fe  2px;
  padding: 10px;
  font-family: "Cairo Play", sans-serif; 
  font-size: 20px;
  color: #c700fe;
   
 }
 .Input:focus {
  color:#ed440c;
  }
 .crossed {
    text-decoration: line-through 2px red;
    background-color: rgb(44, 26, 39);
    color: #ed440c;
  }
  
ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #670084;
  
}  
li {
  align-items: center;
  padding: 10px; 
  font-family: "Cairo Play", sans-serif; 
  font-size: 30px;
} 
.icon {
  align-items: center;
}
.Btn {
  margin: 20px;
  align-self: center;
}
.BtnAdd {
  text-align: center;
   padding: 10px;
   background-color: black ;
  border: 2px solid #ed440c ;
   align-items: center;
   font-size: 25px;
   width: 200px;
   color: blue;
   font-family: "Cairo Play", sans-serif; 
 }
.BtnAdd:hover {
  background-color: rgb(44, 26, 39);
  font-size: 30px;
}
.BtnDel {
 text-align: center;
  padding: 10px;
  background-color: black ;
 border: 2px solid #ed440c ;
  align-items: center;
  font-size: 25px;
  width: 200px;
  color: #ed440c;
  font-family: "Cairo Play", sans-serif; 
}
.BtnDel:hover {
  background-color: rgb(44, 26, 39);
  font-size: 30px;
}




 
        
           
           

   




